@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

// fonts
$primary-font: 'Fira Sans';

// color palette
$primary-color: #072ac8;
$white: #fff;
$light: #f0f6f6;
$dark-grey: #495057;
$light-grey: #eee;

$red: #ff4365;
$green: #07beb8;
$orange: #fb8500;
